* {
    margin: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    text-align: center;
    font-size: 2rem;
    font-family: 'Kite One', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    line-height: 70px;
}

.section {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*width: 100%;*/
    /*background-color: turquoise;*/
}

.subSection {
    height: 50%;
    background-color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding: 40px 20px;
}

.sectOne {
    background-image: url("../img/javascript-book.jpg");
}

.sectTwo {
    background-image: url("../img/computer-code.jpg");
}

.sectThree {
    background-image: url("../img/coffee.jpg");
}

.sectFour {
    background-image: url("../img/london-phonebooth-single.jpg");
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image {
    height: 100%;
    width: 25%;
}

.aboutMeText {
    width: 30%;
    text-align: justify;
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#home {
    width: 18%;
    padding-top: 10%;
    padding-left: 75%;
    text-align: right;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.7rem;
    font-style: oblique;
    text-shadow: 3px 3px 3px gray;
    animation: appear 10s;
}

#subSectionOne {
    background: linear-gradient(to bottom right, lightgray, #58DCF1);
}

#subSectionTwo {
    background: linear-gradient(to bottom right, lightgray, #02ccba);
}

#subSectionThree {
    background: linear-gradient(to bottom right, #02ccba 0%, #aa7ecd 100%);
}

#profilePic {
    width: 28%;
}