* {
    margin: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Kite One', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    line-height: 70px;
}

nav a:hover {
    text-decoration: underline;
}

.section {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*width: 100%;*/
    /*background-color: turquoise;*/
}

.subSection {
    height: 50%;
    background-color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    padding: 30px 20px 80px;
}

.sectOne {
    background-image: url("../img/javascript-book.jpg");
}

.sectTwo {
    background-image: url("../img/computer-code.jpg");
}

.sectThree {
    background-image: url("../img/coffee.jpg");
}

.sectFour {
    background-image: url("../img/london-phonebooth-single.jpg");
}

.slideshow-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image {
    height: 100%;
    width: 25%;
}

.img {
    height: 83%;
    width: 83%;
}

#squirrel-img {
    height: 70%;
    width: 79%;
}

.aboutMe, #contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px rgba(0, 0, 0);
    -webkit-box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    -moz-box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    margin: 0 70px 20px;
    padding: 20px;
    background: white;
}

#aboutMeText {
    width: 30%;
    text-align: justify;
    padding-top: 20px;
}

.textBox {
    width: 22%;
    text-align: justify;
    margin: 20px;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: relative;
    width: auto;
    margin: 205px 0;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
}

/* Position the "next button" to the right */
.next {
    border: 200px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dots/bullets/indicators */
.dotBox {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #02b3e4;
    opacity: 0.4;
    border-radius: 50%;
    flex-direction: row;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #02b3e4;
    opacity: 1;
}

/* Hide the slides by default */
.mySlides {
    display: none;
    border-top: 2px rgba(0, 0, 0);
    -webkit-box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    -moz-box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    box-shadow: 0 0 8px 0 rgba(17,22,26,0.16), 0 4px 8px 0 rgba(17,22,26,0.08), 0 8px 16px 0 rgba(17,22,26,0.08);
    padding-top: 15px;
    margin: 15px;
    background: white;
}

/* Fading animation for slideshow */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#home {
    width: 17%;
    padding-top: 10%;
    padding-left: 75%;
    text-align: right;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    font-style: oblique;
    animation: appear 10s;
}

#subSectionOne {
    background: linear-gradient(to bottom right, white, white, white, lightblue);
    /*color: burlywood*/
}

#subSectionTwo {
    background: linear-gradient(to bottom right, white, white, white, lightblue);
    /*display: flex;
    flex-direction: row;
    justify-content: space-evenly;*/
}

#subSectionThree {
    background: linear-gradient(to bottom right, white, white, white, lightblue);
}

#contact {
    flex-direction: column;
}

#profilePic {
    width: 25%;
}

/* Make website responsive to big tablets */
@media screen and (min-width: 901px) and (max-width: 1600px) {
	.textBox {
        width: 30%;
        text-align: justify;
        font-size: 0.85rem;
    }

    .subSection {
        padding: 30px 20px 70px;
    }

    .img {
        height: 80%;
        width: 80%;
    }
    
    #squirrel-img {
        height: 75%;
        width: 80%;
    }
}

/* Make website responsive to small tablets */
@media screen and (max-width: 900px) {
    p {
        font-size: 0.9rem;
    }

    #aboutMeText {
        width: 52%;
    }

    #profilePic {
        width: 200px;
        height: 200px;
    }

	.textBox {
        width: 100%;
        text-align: justify;
        font-size: 0.85rem;
    }

    .subSection {
        padding: 30px 20px 90px;
    }

    .img {
        height: 200px;
        width: 200px;
    }

    #google {
        display: none;
    }
    
    #squirrel-img {
        height: 150px;
        width: 150px;
    }
}

/* Make website responsive to smartphones */
@media screen and (max-width: 650px) {

    #home {
        font-size: 1rem;
    }

    #subSectionTwo {
        padding: 0 10px 160px 0;
    }
    
    h2 {
        margin: 2px 0 5px 0;
    }

    p {
        font-size: 0.9rem;
        width: 100%;
    }

    .hidden {
        display: none;
    }

    .aboutMe {
        margin: 0 5px 20px;
        padding: 20px;
    }

    #aboutMeText {
        width: 150%;
        padding: 0;
    }

    .mobile {
        flex-direction: column;
        padding: 0;
        margin: 5px;
    }

    .textBox {
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }

    .prev, .next {
        padding: 2px;
    }
}
