* {
    margin: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    text-align: center;
    font-size: 2rem;
    font-family: 'Kite One', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    line-height: 70px;
}

.section {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*width: 100%;*/
    /*background-color: turquoise;*/
}

.subSection {
    height: 50%;
    background-color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    padding: 40px 20px;
}

.sectOne {
    background-image: url("../img/javascript-book.jpg");
}

.sectTwo {
    background-image: url("../img/computer-code.jpg");
}

.sectThree {
    background-image: url("../img/coffee.jpg");
}

.sectFour {
    background-image: url("../img/london-phonebooth-single.jpg");
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image {
    height: 100%;
    width: 25%;
}

.aboutMeText {
    width: 30%;
    text-align: justify;
}

.textBox {
    width: 23%;
    text-align: justify;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    position: center;
    padding: 16px;
    margin: 200px 0;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

/* Position the "next button" to the right */
.prev {
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#home {
    width: 18%;
    padding-top: 10%;
    padding-left: 75%;
    text-align: right;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2.5rem;
    font-style: oblique;
    animation: appear 10s;
}

#subSectionOne {
    background: linear-gradient(to bottom right, white, beige);
    /*color: burlywood*/
}

#subSectionTwo {
    background: linear-gradient(to bottom right, beige, bisque);
}

#subSectionThree {
    background: linear-gradient(to bottom right, bisque, beige);
}

#profilePic {
    width: 25%;
    border-radius: 50%;
}