* {
    margin: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Kite One', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    line-height: 70px;
}

nav a:hover {
    text-decoration: underline;
}

.section {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*width: 100%;*/
    /*background-color: turquoise;*/
}

.subSection {
    height: 50%;
    background-color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    padding: 40px 20px;
}

.sectOne {
    background-image: url("../img/javascript-book.jpg");
}

.sectTwo {
    background-image: url("../img/computer-code.jpg");
}

.sectThree {
    background-image: url("../img/coffee.jpg");
}

.sectFour {
    background-image: url("../img/london-phonebooth-single.jpg");
}

.slideshow-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image {
    height: 100%;
    width: 25%;
}

.aboutMeText {
    width: 30%;
    text-align: justify;
}

.textBox {
    width: 20%;
    text-align: justify;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: relative;
    width: auto;
    margin: 205px 0;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 3px 3px 3px;
}

/* Position the "next button" to the right */
.next {
    border: 200px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dots/bullets/indicators */
.dotBox {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    flex-direction: row;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation for slideshow */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#home {
    width: 17%;
    padding-top: 10%;
    padding-left: 75%;
    text-align: right;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
    font-style: oblique;
    animation: appear 10s;
}

#subSectionOne {
    background: linear-gradient(to bottom right, white, beige);
    /*color: burlywood*/
}

#subSectionTwo {
    background: linear-gradient(to bottom right, beige, bisque);
    /*display: flex;
    flex-direction: row;
    justify-content: space-evenly;*/
}

#subSectionThree {
    background: linear-gradient(to bottom right, bisque, beige);
}

#profilePic {
    width: 25%;
    border-radius: 50%;
}