* {
    margin: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.section {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*width: 100%;*/
    /*background-color: turquoise;*/
}

.subSection {
    height: 50%;
    background-color: ghostwhite;
}

.sectOne {
    background-image: url("../img/javascript-book.jpg");
}

.sectTwo {
    background-image: url("../img/computer-code.jpg");
}

.sectThree {
    background-image: url("../img/coffee.jpg");
}