* {
    margin: 0;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    text-align: center;
    font-size: 2rem;
    font-family: 'Kite One', sans-serif;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    line-height: 70px;
}

.section {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*width: 100%;*/
    /*background-color: turquoise;*/
}

.subSection {
    height: 50%;
    background-color: ghostwhite;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding: 10px 20px;
}

.sectOne {
    background-image: url("../img/javascript-book.jpg");
}

.sectTwo {
    background-image: url("../img/computer-code.jpg");
}

.sectThree {
    background-image: url("../img/coffee.jpg");
}

.sectFour {
    background-image: url("../img/london-phonebooth.jpg");
}

#home {
    width: 15%;
    padding-top: 10%;
    padding-left: 80%;
    text-align: right;
    font-family: 'Kite One', sans-serif;
}